<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} &middot; {{ site.author }}</title>
  <meta name="author" content="{{ site.author }}">

  <link rel="stylesheet" type="text/css" href="{{ "assets/css/style.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ "assets/images/favicon.ico" | relative_url }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">

  {%- seo title=false -%}

  {% if page.mathjax %}
    {% include mathjax.html %}
  {% endif %}
</head>
