<div class="nav">
  <!-- Me -->
  {% if page.lang == "en" %}
  <a aria-current="page" href="/">
  {% else %}
  <a aria-current="page" href="/{{page.lang}}">
  {% endif %}
    <img class="me" alt="Samuele" type="image/jpeg" src="/assets/images/samuele.jpg">
    <div class="name">
      Samuele Bortolotti
    </div>
  </a>
  <!-- Short description -->
  {% if page.lang == "it" %}
  <p>Dottorando presso l'Università di Trento in informatica. Interessato a neuro-symbolic machine learning, explainable AI e interactive machine learning.</p>
  {% elsif page.lang == "de" %}
  <p>Doktorand an der Universität Trient in Informatik. Interessiert sich für neuro-symbolisches maschinelles Lernen, erklärbare KI und interaktives maschinelles Lernen.</p>
  {% else %}
  <p>Ph.D. student at the University of Trento in Computer Science. Interested in neuro-symbolic machine learning, explainable AI and interactive machine learning.</p>
  {% endif %}
  <!-- Links on the Sidebar -->
  <div class="links">
    <a target="_blank" href="/files/bortolotti_samuele_cv.pdf" type="application/pdf" title="Samuele Bortolotti CV">CV</a>
    <a target="_blank" href="https://github.com/samuelebortolotti" title="GitHub link">GitHub</a>
    <a target="_blank" href="https://www.linkedin.com/in/samuele-bortolotti " title="LinkedIn link">LinkedIn</a>
    <a target="_blank" href="/feed.xml" type="application/xml" title="RSS Feed">RSS</a>
    <a target="_blank" href="mailto:samuele.bortolotti@unitn.it" title="Email">@</a>
  </div>
  <!-- Effective Navbar -->
  <ul class="navlinks">
    <li>
      {% if page.nav_bar == "index" %}
      <a aria-current="page" class="active" href="/">About</a>
      {% else %}
      {% if page.lang == "en" %}
      <a href="/">About</a>
      {% else %}
      <a href="/{{page.lang}}/">About</a>
      {% endif %}
      {% endif %}
    </li>
    <li>
      {% if page.nav_bar == "publications" %}
      <a aria-current="page" class="active" href="/{{page.lang}}/publications">Publications</a>
      {% else %}
      {% if page.lang == "en" %}
      <a href="/publications">Publications</a>
      {% else %}
      <a href="/{{page.lang}}/publications">Publications</a>
      {% endif %}
      {% endif %}
    </li>
    <!--
    <li>
      {% if page.nav_bar == "projects" %}
      <a aria-current="page" class="active" href="/{{page.lang}}/projects">Projects</a>
      {% else %}
      {% if page.lang == "en" %}
      <a href="/projects">Projects</a>
      {% else %}
      <a href="/{{page.lang}}/projects">Projects</a>
      {% endif %}
      {% endif %}
    </li>
    <li>
      {% if page.nav_bar == "blog" %}
      <a aria-current="page" class="active" href="/{{page.lang}}/blog">Blog</a>
      {% else %}
      {% if page.lang == "en" %}
      <a href="/blog">Blog</a>
      {% else %}
      <a href="/{{page.lang}}/blog">Blog</a>
      {% endif %}
      {% endif %}
    </li>
    -->
    <li>
      {% if page.nav_bar == "resume" %}
      <a aria-current="page" class="active" href="/{{page.lang}}/resume">Short R&eacute;sum&eacute;</a>
      {% else %}
      {% if page.lang == "en" %}
      <a href="/resume">Short R&eacute;sum&eacute;</a>
      {% else %}
      <a href="/{{page.lang}}/resume">Short R&eacute;sum&eacute;</a>
      {% endif %}
      {% endif %}
    </li>
  </ul>
  <div class="links" style="margin-top:0em; font-size:100%">
    {% if page.lang == "en" %}
    <a aria-current="page" class="active" href="/{{page.ref}}">🇺🇸 en</a>
    {% else %}
    <a href="/{{page.ref}}">🇺🇸 en</a>
    {% endif %}
    {% if page.lang == "it" %}
    <a aria-current="page" class="active" href="/it/{{page.ref}}">🇮🇹 it</a>
    {% else %}
    <a href="/it/{{page.ref}}">🇮🇹 it</a>
    {% endif %}
    {% if page.lang == "de" %}
    <a aria-current="page" class="active" href="/de/{{page.ref}}">🇩🇪 de</a>
    {% else %}
    <a href="/de/{{page.ref}}">🇩🇪 de</a>
    {% endif %}
  </div>
</div>
